.food-display {
    margin-top: 30px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
    margin-bottom: 20px; /* Ajoute un espace en bas du titre */
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px; /* Espace entre les éléments */
    row-gap: 50px;
}

/* Styles de survol pour les items */
.food-item {
    transition: transform 0.2s; /* Animation lors du survol */
}

.food-item:hover {
    transform: scale(1.05); /* Agrandit légèrement l'élément au survol */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Ajoute une ombre au survol */
}

/* Pour les écrans de moins de 600px */
@media (max-width: 600px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr); /* Afficher 2 colonnes */
        gap: 20px; /* Ajuster l'espace entre les éléments */
    }

    .food-display h2 {
        font-size: 20px; /* Réduire la taille du titre */
    }

    .food-item {
        /* Assure-toi que ce style est ici ou dans le fichier FoodItem.css */
        font-size: 14px; /* Réduire la taille de police pour les éléments */
    }

    /* Ajuster la taille des descriptions et prix si nécessaire */
    .food-item-desc {
        font-size: 12px; /* Réduire la taille de la description */
    }

    .food-item-price {
        font-size: 16px; /* Réduire la taille du prix */
    }
}
